

{% extends "base.html" %}

{% block title %}Reader{% endblock %}

{% block content %}



<main>
  {% include 'header.html' %}

  <div class="container">
    <div class="row">
        <ul  class="list-group">
            {% for book in book_list %}
            <li class="list-group-item float-right">{{ book.title }} 
                <a class="btn btn-danger float-end" href="{% url 'reader:book_del' book.id %}">删除</a>
                
            </li>
            {% endfor %}
          </ul>
    </div>
  </div>
  
</main>
{% endblock %}

{% block body-bottom %}

{% endblock %}