

{% extends "base.html" %}

{% block title %}Reader{% endblock %}

{% block content %}



<main>
  {% include 'header.html' %}

  <div class="container">
    <div class="row">
      {% load static %}
      {% for book in book_list %}
      <div class="col-4 col-lg-2" >
        <form method="POST" action="{% url 'reader:book_view' %}">
          {% csrf_token %}
          <input  type="hidden" name="book_id" value="{{ book.id }}">
          <button class="card mb-4 border-0 p-0" type="submit" ><div class="card mb-4 border-0" >
            <img src="{% static 'images/1.jpg' %}" class="w-100 h-100 mb-0 me-0"> 
            <div class="text-break w-100 overflow-hidden mt-2 book-tittle">
                  {{ book.name }}
                
                </div>
          </button>
      
        </form>
        
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  
</main>
{% endblock %}

{% block body-bottom %}

{% endblock %}