
{% extends "base.html" %}

{% block title %} Reader {% endblock %}

{% block content %}
<style>

{% if user_setting %}
main{
    background:{{user_setting.read_bg}};
}

article{
    font-size:{{user_setting.font_size}}px;
}
    {% if 'rgb(0, 0, 0)' in user_setting.read_bg %}
    main{
        color:rgb(90, 90, 90);
    }
    {% endif %}
{% endif %}


.offcanvas-backdrop.show {
    opacity: 0;
}

</style>

<main class="vh-100">
    
    
    <div class="d-none d-lg-block">
        {% include 'header.html' %}
    </div>

    <div class="center_menu zindex-tooltip position-fixed top-50 start-50 translate-middle" style="width: 30%;height:30%"></div>

    <div class="container">
        <div class="article-container">
            <article class="py-2">
                <h3 class="text-center">{{chapter_title}} </h3> 
                    {% for line in content_lines %}
                        <p >{{line}}</p>
                    {% endfor %}
                <span id="marker"></span>
    
            </article>
        </div>

        <div class="page-nav d-none d-lg-block">
            <nav aria-label="Page navigation example w-100">
                <ul class="pagination  d-lg-flex   justify-content-between">
                    <div class="d-lg-flex ">
                        <li class="page-item "><a class="page-link prev-chapter" href="#">上一章</a></li>
                        <li class="page-item prev-page"><a class="page-link " href="#">上一页</a></li>

                    </div>
                    
                    <div class="pages-container d-lg-flex justify-content-center">
                       
                    </div>

                    <div class="d-lg-flex ">
                        <li class="page-item next-page"><a class="page-link" href="#">下一页</a></li>
                        <li class="page-item float-end"><a class="page-link next-chapter" href="#">下一章</a></li>
                    </div>
                </ul>
            </nav>
        </div>

        
    </div>
    <div class="offcanvas offcanvas-top pb-auto" style="height:fit-content" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"> 
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand m-0 ms-4 chapter_list_btn" href="#">
                    
                    返回
                </a>
                <a class="navbar-brand m-0" href="#">
                菜单
                </a>
                <a class="navbar-brand m-0 me-4" href="#">
                    设置
                </a>
            </div>
        </nav>
    </div>
    <div class="offcanvas offcanvas-start col-12 col-lg-3" data-bs-scroll="false" data-bs-backdrop="false" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel"> 
        <div class="offcanvas-header">
            <ul class="nav nav-pills me-1" id="pills-tab" role="tablist">
                <li class="nav-item chapter-list-show" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">目录</a>
                </li>
                <li class="nav-item bookmark-show" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">书签</a>
                </li>
                
            </ul>
            <input class="w-auto">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">  
            
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="list-group">
                        {% for c in chapter_list %}
                        <a class="list-group-item {% if request.resolver_match.kwargs.chapter_pk == c.id %} active {% endif %}" href="{% url 'reader:book_reader' c.book_id c.id %}" method="post">{{ c.title }}</a>
                        {% endfor %}

                    </div>
                </div>

                <div class="tab-pane fade text-wrap" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="bookmark_list_container">
                    </div>
                    
                </div>
            </div>

            
            
        </div>
    </div>
    <div class="offcanvas offcanvas-bottom offcanvas-bottom-all h-auto col-12 " data-bs-scroll="true"  tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel"> 
        <div class="col-12 col-lg-6 mx-auto">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="col-2 p-0">
                        <p class="fs-8 m-0 text-center"><a class="prev-chapter" style="text-decoration: none;color:#333;">上一章</a></p>
                    </div>
                    <div class="progress col-8 p-0">
                        <div class="progress-bar" role="progressbar" style="width: {{progess}}%" aria-valuenow="{{progess}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="col-2 p-0">
                        <p class="fs-6 m-0 text-center"><a class="next-chapter" style="text-decoration: none;color:#333;">下一章</a></p>
                    </div>
                </div>
            </div>
            <ul class="nav nav-fill justify-content-center">
                <li class="nav-item">
                <a class="nav-link active p-0 py-2 chapter_list_btn" aria-current="page" href="#" >
                    <i class="bi bi-list d-block mob-icon" style="transform: scale(1.2);" ></i>
                        <span class="mob-icon-text">目录</span>
                </a>
                </li>
                <li class="nav-item">
                    <div class="div dropup ">
                        <a class="nav-link active p-0 py-2" aria-current="page" href="#"  data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-app-indicator d-block mob-icon"></i>
                            <span class="mob-icon-text">菜单</span>                    
                        </a>
                        <ul class="dropdown-menu   text-center" >
                            <li><a class="dropdown-item search-btn"  href="#">搜索</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bookmark-btn" href="#">书签</a></li>
                        </ul>
                    </div>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-0 py-2 back-btn" href="{% url 'reader:book_list' %}" aria-current="page" >
                        <i class="bi bi-arrow-up-left-square d-block mob-icon" ></i>
                        <span class="mob-icon-text">返回</span>                    
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active p-0 py-2 setting-btn1" data-bs-toggle="offcanvas" href="#offcanvassetting" >
                        <i class="bi bi bi-gear-wide-connected d-block mob-icon"></i>
                        <span class="mob-icon-text">设置</span>                    
                    </a>
                </li>
            </ul>
            
        
        </div>
        
    </div>
    
    <div class="offcanvas offcanvas-bottom offcanvas-bottom-setting h-auto col-12 col-lg-3 col-xl-3 col-xxl-2" data-bs-scroll="true"  tabindex="-1" id="offcanvassetting" aria-labelledby="offcanvasBottomLabel"> 
        <div class="col-12  mx-auto">
            <div class="container-fluid">
                <div class="input-group  p-3  justify-content-center">
                    <button class="btn btn-outline-secondary dec-font update-setting" type="button">A-</button>
                    <span class="form-control flex-grow-0 w-25 font-value text-center"> </span>
                    <!-- <span type="text" class="form-control flex-grow-0 w-25 font-value text-center" > -->
                    <button class="btn btn-outline-secondary inc-font update-setting" type="button">A+</button>
                </div>
                
                <ul class="nav nav-fill justify-content-center text-light pb-2" style="height: 80px;">
                    <li class="nav-item rounded m-2 border bg-setting read-white update-setting" style="background: #fff;"></li>
                    <li class="nav-item rounded m-2 border bg-setting read-blue update-setting" style="background: #c3d4e6;"></li>
                    <li class="nav-item rounded m-2 border bg-setting read-green update-setting" style="background: #c8e8c8;"></li>
                    <li class="nav-item rounded m-2 border bg-setting read-yellow update-setting" style="background: #c4b395"></li>
                    <li class="nav-item rounded m-2 border bg-setting read-black update-setting" style="background: #000"></li>

                </ul>
            </div>
            
           
        </div>
        
    </div>

    <div class="d-none d-lg-block" style="right: 20px; bottom:20px;position: fixed;">
        
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" style="font-size: 20px;">
            
            <li class="nav-item">
                <a href="#" class="nav-link  px-2 py-1 active border-bottom chapter_list_btn" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="bi bi-list"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  px-2 py-1 active border-bottom bookmark-btn" >
                    <i class="bi bi-bookmark-star"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  px-2 py-1 active border-bottom setting-btn" aria-current="page" title=""  >
                    <i class="bi bi-gear"></i>
                </a>
            </li>
          </ul>

    </div>
    <!-- Scrollable modal -->
    <div class="modal myModal">
        <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down	">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> </h5>
                    <div style="margin: -0.5rem 0.5rem -0.5rem auto;">
                        <form class="col-6 col-lg-auto ms-2 me-2 me-lg-3 w-100" role="search" onsubmit="return false;">
                            <input type="search" class="form-control content-serarch" placeholder="搜索..." aria-label="Search" control-id="ControlID-2">
                        </form>
                    </div>
                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin: -0.5rem -0.5rem -0.5rem 0.5rem;"></button>
                </div>
                <div class="modal-body search-res">
                <!-- <p>Modal /body text goes here.</p> -->
                </div>
                
            </div>
        </div>
    </div>

   

    <div class="modal setting_modal">
        <div class="modal-dialog modal-dialog-scrollable  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">设置</h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin: -0.5rem -0.5rem -0.5rem 0.5rem;"></button>
                </div>
                <div class="modal-body">
                <p>Modal body text goes here.</p>
                </div>
                
            </div>
        </div>
    </div>
</main>


    
{% endblock %}

{% block body-bottom %}

{% load static %}

<script>
var csrf_token = '{{ csrf_token }}'
var url_book_reader = "{% url 'reader:book_reader' request.resolver_match.kwargs.book_pk request.resolver_match.kwargs.chapter_pk %}"
var last_words = parseInt({{last_words}})
var user_setting_bg = "{{user_setting.read_bg}}"
var url_update_setting = "{% url 'reader:update_setting' %}"
var url_bookmark_save = "{% url 'reader:bookmark_save' %}"
var book_id = '{{request.resolver_match.kwargs.book_pk}}'
var chapter_id='{{request.resolver_match.kwargs.chapter_pk}}'
var url_chapter_list = "{% url 'reader:chapter_list' request.resolver_match.kwargs.book_pk%}"

var url_bookmark_list = "{% url 'reader:null'  %}"
{% if request.user.id %}
var url_bookmark_list = "{% url 'reader:bookmark_list' request.user.id  request.resolver_match.kwargs.book_pk %}"
{% endif %}
</script>

<script src="{% static 'reader.js' %}"></script>


{% endblock %}

