
.book-tittle{
    overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-line-clamp:3;
}


article{
    columns: calc(100vw - 32px) 1;
    column-gap: 16px;
    height: 100vh;
    transition: 0s;
}

.article-container{
    overflow-x: hidden;
}

.desktop-only-fixed{
	display: none;
}



@media  screen and  (min-width: 992px) {

article{
    columns: calc(100vw - 32px) 1;
    column-gap: 16px;
    height: calc(100vh - 143px );
    transition: 0s;
}
.desktop-only-fixed{
	position: fixed;
}

}


/*uploadify CSS Document */
.uploadify-button{
	display:inline-block;
	margin:12px;
	border:1px solid #808080;
	background-color: #707070;
	line-height:24px;
	border-radius:12px;
	padding:0 18px;
    font-size:12px;
    font-weight: 600;
    font-family: '微软雅黑';
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
}
.uploadify-button:hover{
	background-color: #888;
}
.uploadfile{
	width:0;
	}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
	margin-top:10px;
	}
.uploadbtn,.delfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
    font-size:12px;
	color:#666;
	text-decoration:none;
	}
.uploadbtn{
	display: none;/*默认不显示上传按钮，非自动上传时用js控制显示*/
}
.disabledbtn{

}
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
	}
.uploadify-progress{
	 display:inline-block; 
	 width:600px; 
	 height:10px; 
	 background-color:white;
	 border-radius:20px;
	 border:2px groove #666;
	 vertical-align:middle;
	 padding:0;
	 }
.uploadify-progress-bar{
	width:0;
	height:100%;
	border-radius:20px;
	background-color: #0099FF;
	}


.form-signin {width: 100%;max-width: 330px;padding: 15px;margin: 0 auto;}
.form-signin .checkbox {font-weight: 400;}
.form-signin .form-control {position: relative;box-sizing: border-box;height: auto;padding: 10px;font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="email"] {margin-bottom: -1px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.form-signin input[type="password"] {margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;}

.noa{
	display: block;
	color:#666;
	text-decoration:none;
}

.mob-icon{
	width: 2.5rem;
	height: 2.5rem;
	margin: -5px auto 4px auto;
	font-size: 2rem;
	text-align: center;
}

.mob-icon-text{
	font-size: 0.6rem;
	text-align: center; 
	display: block;
}